@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body {
    
    /* height: 100vh; */
    background: #96C5F7;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 3px;
}

.equal {
    grid-column: 3 / 5;
}

.display {
    text-align: right;
}

button {
    padding: 20px;
    background: #3396FF;
    border: 1px solid #000;
    cursor: pointer;
}

button:hover {
    background: #50a4fd;
}

