*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* height: 100vh; */
    background: #96C5F7;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
}

.display {
    text-align: right;
}

button {
    width: 40px;
    height: 40px;
}

